/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.form-control:focus {
    border-color: #0077cc;
    box-shadow: 0 0 0 0.2rem #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #C6DCE4;
    border-color: #1861ac;
    margin-bottom: 5px;
}
.container{
    vertical-align: center;
    margin: auto;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #C6DCE4;
    border-color: #1861ac;
}
.form-floating{
    margin-bottom: 5px;
}
.btn-link.nav-link:focus {
  outline: black auto 1px;
}
.login-container{
    display: table-cell;
    vertical-align: middle;
    max-width: 50vw;
}

html {
    display: table;
    vertical-align: middle;
    height: 100vh;
    margin: auto;
    background: #FFE6E6;
    font-size: 14px;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-color: #FFE6E6;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  line-height: 60px;
}
