@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<AuthorizeView>
    <Authorized>
        <div class="leftSide">
            <a href="/">
                <img class="leftSideLogo" src="https://pic.onlinewebfonts.com/svg/img_473873.png" alt="logo"/>
            </a>
        </div>
        <div class="rightSide">
            <a href="/authentication/profile">
                <img class="rightSideProfile" src="https://icon-library.com/images/profile-png-icon/profile-png-icon-2.jpg" alt="profile" />
            </a>
            <input class="rightSideLogout" type="image" @onclick="BeginSignOut" src="https://uxwing.com/wp-content/themes/uxwing/download/09-controller-and-music/power-off.png"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
