.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%
}

main {
    flex: 1;
}
article {
    background: #FFE6E6;
    height: calc(100vh - 3.5rem)
}
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #F2D1D1;
    border-bottom: 1px solid #DAEAF1;
    height: 3.5rem;
    display: flex;
    width: 100vw;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row {
        padding-left: 0px !important;
        padding-right: 1.2rem !important;
    }
    article{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}
